# ===================================
# WEREWOLF GAME - Environment Variables
# ===================================

# PUSHER (Realtime - Gratis tier tersedia)
# Daftar di: https://pusher.com
NEXT_PUBLIC_PUSHER_KEY=bfd39e918defe58dd602
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
PUSHER_APP_ID=2130866
PUSHER_SECRET=55a37baab56a1a1cd566

# UPSTASH REDIS (Database temporary - Gratis tier tersedia)
# Daftar di: https://upstash.com
UPSTASH_REDIS_REST_URL="https://sought-hagfish-80348.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAATncAAIncDJkZjZlNmE0MTNjMmY0MmI0OGM2ZTQ2ODg5NTUyZGY2ZnAyODAzNDg"

# FONNTE (WhatsApp API - Bayar per pesan)
# Daftar di: https://fonnte.com
FONNTE_TOKEN=PGxzDMSF6ZG2itKL8sNi

# GAME SETTINGS
GAME_SESSION_TTL=7200
